body {
    text-align: center;
    font-family: 'Press Start 2P';
}

.hearts img {
    max-width: 32px;
    display: inline-flex;
    flex-wrap: nowrap;
}

.hearts li {
    width: 1em;
    height: 1em;
    margin-left: 0.25em;
}